/* XL Device :1600px. */
@media (min-width: 1600px) and (max-width: 1700px) {
.left {
    position: absolute;
    top: 0;
    left: 0;
    background: #1a54e7;
    height: 100%;
    width: 28%;
}
}


/* XL Device :1500px. */
@media (min-width: 1500px) and (max-width: 1600px) {
.left {
    position: absolute;
    top: 0;
    left: 0;
    background: #1a54e7;
    height: 100%;
    width: 26%;
}

}
/* XL Device :1400px. */
@media (min-width: 1400px) and (max-width: 1500px) {
.left {
    position: absolute;
    top: 0;
    left: 0;
    background: #1a54e7;
    height: 100%;
    width: 24%;
}

}
/* XL Device :1300px. */
@media (min-width: 1300px) and (max-width: 1400px) {
.left {
    position: absolute;
    top: 0;
    left: 0;
    background: #1a54e7;
    height: 100%;
    width: 23%;
}

}
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1300px) {
.left {
    position: absolute;
    top: 0;
    left: 0;
    background: #1a54e7;
    height: 100%;
    width: 21%;
}

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* Extra small Device. */
@media (max-width: 767px) {

 
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}


/* retina query */
@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (min--moz-device-pixel-ratio:2) and (max-width:991.98px),only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:991.98px),only screen and (min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (min-resolution:192dpi) and (max-width:991.98px),only screen and (min-resolution:2dppx) and (max-width:991.98px){

.logo .standard-logo{
  display: none;
}
.logo .retina-logo{
  display: inline-block;
}

}


@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){
.logo .standard-logo{
  display: none;
}
.logo .retina-logo{
  display: inline-block;
}

}